<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{site.baseurl}}assets/style.css">
	<script src="{{site.baseurl}}assets/script.js"></script>
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width">
</head>
<body class="-menu-visible">
	<div class="doc-layout">
		<div class="toggle menu-toggle js-menu-toggle"></div>
		<div class="menu toc-menu">
			<ul>
				<li class="menu-item -level-0 -parent">
					<ul class="submenu">
						<li class="menu-item -level-1 -parent">
							<span class="title">Blockchain Guide Site</span>
							<ul class="submenu">
								<li class="menu-item -level-2 -parent">
									<!-- <a class="link title link-homepage {% if page.url == '/' %} -active {% endif %}" href="{{site.baseurl}}">Homepage</a> -->
									<ul class="submenu">
										{% assign directories = site.data.directoriess %}
									    {% for directory in directories %}
											{% assign dir = directory[1][1] %}
											<li class="menu-item -level-3 -parent"><span class="title">{{ dir.directory_name }}</span>
												<ul class="submenu">
												    {% for main_menu in dir.main_menu %}
													    {% if main_menu.title %}
														<li class="menu-item -level-4"><a class="link title link-guidesblockchainguide {% if page.url == main_menu.rel_url %} -active {% endif %}" href="{{ main_menu.url }}">{{ main_menu.title }}</a>
														    {% if main_menu.sub_menu %}
															<ul class="headings heading-list">
															    {% for sub_menu in main_menu.sub_menu %}
																<li class="heading-item -depth-3"><a class="hlink link-for-python-programmers" href="{{sub_menu.url}}">{{sub_menu.title}}</a>
																</li>
																{% endfor %}
															</ul>
															{% endif %}
														</li>
														{% endif %}
													{% endfor %}
												</ul>
											</li>
											{% endfor %}
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body page-guidesblockchainguide">
			<div class="header-nav">
				<div class="right">
				</div>
			</div>
			<div class="markdown-body">
				<h1 id="programming-a-blockchain-">{{page.title}}</h1>
				{{ content }}
				<!-- {{ directories }} -->
			</div>
			<!-- <div class="footer-nav">
				<div class="left"><a href="../../guides/hypothesis.html"><span class="title">Hypotheis</span></a></div>
				<div class="right"><a href="../../guides/ethereum/contracts.html"><span class="label">Next: </span><span class="title">Smart contracts</span></a></div>
			</div> -->
		</div>
	</div>
</body>
</html>